[submodule "sub/KiCad-RP-Pico"]
	path = sub/KiCad-RP-Pico
	url = git@github.com:ncarandini/KiCad-RP-Pico.git
	branch = main
[submodule "sub/marbastlib"]
	path = sub/marbastlib
	url = git@github.com:ebastler/marbastlib.git
	branch = main
